
    <% if !@conversation.nil?  %>
      <%  @conversation.each do |message| %>
        <% if message.sent_messageable_id == current_user.id %>
          <div class="panel panel-default text-left" id="display-message">
            <div class="panel-heading" id="row">
              <div class="row">
                <div class="col-md-6 pull-left conv" >
                    From me<br>
                    <%= "Unread" if message.opened == false %>
                    <%= "Read" if message.opened == true %>
                  <label><%= message.body %></label>
                </div><br>
              </div>
            </div>
          </div><br>
          <% else %>
            <div class="panel panel-default text-left">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-6 conv" >
                    From <%= User.where(id: message.sent_messageable_id).first.email %><br>
                    <label><%= message.body %></label>
                    <br>
                  </div><br>
                </div>
              </div>
            </div><br>
        <% end %>
      <% end %>
    <% end %>





