<div class="container" id="container" >
  <div class="row" id="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>My conversation with <%= params[:email_to] %></h1>
      <%= form_for @message, :html => {:class => 'form-froup', :id => "form-to"} do |f| %>
        <%= f.hidden_field :sent_messageable_id, value: params[:email_to], id: "email" if !params[:email_to].nil? %>
        <%= f.label :body, "Enter a message" %>
        <%= f.text_area :body, class: "form-control"%>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
      <div id="chat">
      <%= render 'message' %>
      </div>
    </div>
  </div>
</div>
